<head>
  <%= stylesheet_link_tag "custom.css.scss" %>
  <%= stylesheet_link_tag "profile.css.scss" %>

</head>


  <h2 class="profile">Your Profile </h2>
  <div class="row picture-boxes">
    <div class="col-sm-3 pictures"></div>
    <div class="col-sm-3 pictures"></div>
    <div class="col-sm-3 pictures"></div>
  </div>
  <div class="row picture-boxes">
    <div class="col-sm-3 pictures"></div>
    <div class="col-sm-3 pictures"></div>
    <div class="col-sm-3 pictures"></div>
  </div>
  <div class="row picture-boxes">
    <div class="col-sm-3 pictures"></div>
    <div class="col-sm-3 pictures"></div>
    <div class="col-sm-3 pictures"></div>
  </div>

