/* ------------------------------------------------ */
/* General */
/* ------------------------------------------------ */
h1,
h2,
h3{
    margin:0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
}
h2{
    font-size: 180%;
    color: #d34c4d;
}
h2:after{
    display: block;
    content: " ";
    background-color: #e08283;
    height: 2px;
    width: 100px;
    margin: 25px auto 30px auto;
    
}

h3{
    margin-top: 20px;
    font-size: 90%;
    color: #d34c4d;
    
}

a:link,
a:visited{
    color:#e08283;
    text-decoration: none;
    padding:5px 15px;
    border-bottom: 1px solid transparent ;
}

/* ------------------------------------------------ */
/* Section daily */
/* ------------------------------------------------ */


.section-daily-picture{
    padding-top: 70px;
    padding-bottom: 60px;

}

.box {
    margin-top: 20px;
    padding:0 50px;
  
}

.box img{
    width:100%;
    height: auto;
    border-radius: 5px;
    border: 4px solid #e08283;
}

/* ------------------------------------------------ */
/* Section special */
/* ------------------------------------------------ */
.section-special-picture{
    padding: 70px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.71), rgba(255, 255, 255, 0.7)), asset-url('flowerzoom-min.jpg');
    background-attachment: fixed;  
}

.special-box {
    padding:0 50px;
    margin-top: 20px;
}

.special-box img{
    width:100%;
    height: auto;
    border-radius: 5px;
    border: 4px solid #e08283; 
}