/* ------------------------------------------------ */
/* BASE COLOR: #e08283 */
/* DARKBASE COLOR: #d34c4d */
/* ------------------------------------------------ */

h1{
  color:#e08283;
  margin:30px 0 15px 0;
  letter-spacing:-1px;
  font-size: 250%;
}

h3{
  letter-spacing:-1px;
}
.form-color{
  color:#e08283;
  margin-bottom:20px;
  font-size: 150%;
}
.form-space{
  margin-top:40px;
}