<head>
  <%= stylesheet_link_tag "custom.css.scss" %>
  <%= stylesheet_link_tag "filter.css.scss" %>

</head>

<div class="row filter-picture-boxes">
  <div class="col-sm-3 filter-picture"></div>
  <div class="col-sm-3 filter-picture"></div>
  <div class="col-sm-3 filter-picture"></div>
  <div class="col-sm-3 filter-picture"></div>
</div>
<div class="row picture-boxes">
  <div class="col-sm-3 filter-picture"></div>
  <div class="col-sm-3 filter-picture"></div>
  <div class="col-sm-3 filter-picture"></div>
  <div class="col-sm-3 filter-picture"></div>
</div>
<div class="row picture-boxes">
  <div class="col-sm-3 filter-picture"></div>
  <div class="col-sm-3 filter-picture"></div>
  <div class="col-sm-3 filter-picture"></div>
  <div class="col-sm-3 filter-picture"></div>
</div>