<h2 align="center"><%= @image.imagename%> </h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center"><strong>Category:</strong></h4>
  <hr>
  <%= @image.category %>
  <div class="image-action">

  </div>
</div>

